<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>hack-a-plan</title>
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/snap.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
	</head>

	<body>
  
        <div class="snap-drawers">
            <div class="snap-drawer snap-drawer-left">
                <div class="container">
                    <h2>Tasks</h2>
          					<section id="todoapp">
          						<header id="header">
          							<input id="new-todo" placeholder="What needs to be done?" autofocus>
          						</header>
          						<section id="main">
          							<input id="toggle-all" type="checkbox">
          							<label for="toggle-all">Mark all as complete</label>
          							<div class="row">
          								<div id="todo-list"></div>
          							</div>
          						</section>
          						<footer id="footer"></footer>
          					</section>
                </div>
            </div>
            <div class="snap-drawer snap-drawer-right"></div>
        </div>


<div id="content" class="snap-content">
            <div id="toolbar">
                <a href="#" id="open-left"></a>
                <h1>Low-level Plan</h1>

                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                      <td>
                        <div class="container task-container">
                          <div></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
                <div id="do-drag"><--- Drag Handle ---></div>                
                
            </div>
        </div>

		<footer id="info">
			<p>Written by FM red team!</p>
		</footer>

		<script type="text/template" id="item-template">
		  <div class="view col-lg-4">
          <h4>#24501 <span class="glyphicon glyphicon-<%= tags %>"></span></h4>
          <p>
          <button type="button" class="toggle btn btn-default btn-sm">
            <%= completed ? '<span class="glyphicon glyphicon-ok"></span>' : '-' %>            
          </button>          
          <a class="btn btn-default" href="#"><%- title %> &raquo;</a>
          <button type="button" class="btn btn-default btn-sm">
            <span class="destroy glyphicon glyphicon-remove"></span>
          </button>          
          </p>                    		  
			</div>
		</script>



        <script type="text/javascript" src="js/libs/snap.js"></script>
        <script type="text/javascript">
            var snapper = new Snap({
                element: document.getElementById('content'),
                dragger: document.getElementById('do-drag'),
                disable: 'right'
            });
        </script>

        <!-- jQuery / jQuery UI -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

        <!-- jQuery Touch Punch - Enable Touch Drag and Drop -->
        <script src="js/libs/jquery.touch-punch.min.js"></script>

        <!-- jQuery.Shapeshift -->
        <script src="js/libs/jquery.shapeshift.js"></script>

        <script type="text/javascript" src="js/default.js"></script>

		<script src="bower_components/todomvc-common/base.js"></script>
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
		<script src="js/models/todo.js"></script>
		<script src="js/collections/todos.js"></script>
		<script src="js/views/todo-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
